/* Variables */

$color-principal: #7900FF;
$color-secundario: #548CFF;
$color-alternativo: #CFFFDC;
$overlay: rgba(0, 0, 0, 0.8);
$container-w: 90vw;
$font-russo:'Russo One', sans-serif;
$font-text:'Fjalla One', sans-serif;